# Timeseries Forecasting of Cryptocurrency Prices

In this exploration, I make an attempt to train recurrent neural networks to predict the price of cryptocurrencies such as bitcoin.

## Importing Libraries and Reading in the Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./data/XRP USD Historical Data.csv')
data.head()

           Date    Price     Open     High      Low    Vol.  Change %
0  Jan 11, 2018  2.09436  1.94415  2.26700  1.54000  40.02M      9.08
1  Jan 10, 2018  1.92000  2.05000  2.11800  1.61320  30.46M     -5.91
2  Jan 09, 2018  2.04055  2.40000  2.48100  1.90000  18.91M    -14.98
3  Jan 08, 2018  2.40000  2.77067  2.77067  1.91111  20.76M    -13.36
4  Jan 07, 2018  2.77000  2.65000  2.81000  2.56000   9.10M      4.53

In [3]:
data.tail()

,Date,Price,Open,High,Low,Vol.,Change %
1074,"Feb 02, 2015",0.01424,0.01424,0.01424,0.01424,0,0.00
1075,"Feb 01, 2015",0.01424,0.01455,0.01455,0.01419,0.10K,-2.13
1076,"Jan 31, 2015",0.01455,0.01649,0.01649,0.01448,1.22K,-11.76
1077,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,NaN,Highest:3.28000,Lowest:0.00211,Difference:3.27789,Average:0.09488,"Change %:12,600.78085",NaN

In [4]:
data.dropna(axis=0, inplace=True)
data = data.iloc[::-1]

In [5]:
from pandas import datetime
data['Date'] = data['Date'].apply(lambda date: pd.to_datetime(date))

In [6]:
import locale
from locale import *
locale.setlocale(locale.LC_NUMERIC, '')
data['Price'] = data['Price'].apply(lambda x: atof(x))

In [7]:
data['Open'] = data['Open'].apply(lambda x: atof(x))
data['High'] = data['High'].apply(lambda x: atof(x))
data['Low'] = data['Low'].apply(lambda x: atof(x))

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1077 entries, 1076 to 0
Data columns (total 7 columns):
Date        1077 non-null datetime64[ns]
Price       1077 non-null float64
Open        1077 non-null float64
High        1077 non-null float64
Low         1077 non-null float64
Vol.        1077 non-null object
Change %    1077 non-null float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 67.3+ KB

## Visualizing prices for the whole dataset

In [ ]:
plt.plot(data['Date'], data['Price'], color = 'orange')
plt.plot(data['Date'], data['Open'], color='purple')
plt.plot(data['Date'], data['Low'], color='red')
plt.plot(data['Date'], data['High'], color='blue')
plt.title('DogeCoin Prices')
plt.xlabel('Date')
plt.ylabel('Price')
plt.legend()
fig = plt.gcf()
fig.set_size_inches(15, 10)

## Using TensorFlow to Train RNNs

In [ ]:
import tensorflow as tf

In [ ]:
data = data.set_index('Date')

In [ ]:
data.info()

### Scaling the Data
In order to train a neural network on this data, it is a good idea to scale it first.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
price_data_scaled = scaler.fit_transform(data['Price'].values.reshape(-1, 1))

### Creating a Dataset with Features

In [ ]:
def create_dataset(timeseries, n_inputs=30):
    
    features = []
    targets = []
    
    for i in range(len(timeseries) - n_inputs):
        
        start = i
        end = start + n_inputs
        
        x = timeseries[start:end]
        y = timeseries[end]
        
        features.append(x)
        targets.append(y)
    
    return np.array(features), np.array(targets)

In [ ]:
X, y = create_dataset(price_data_scaled, n_inputs=14)

In [ ]:
X.shape

In [ ]:
percent_training = 0.75
num_samples = X.shape[0]
num_train = int(percent_training * num_samples)

X_train, y_train = X[:num_train], y[:num_train]
X_test, y_test = X[num_train:], y[num_train:]

## Training the RNN Model

In [ ]:
from keras.models import Sequential, load_model
from keras.layers import Dense, LSTM
from keras.callbacks import EarlyStopping

num_inputs = 14

model = Sequential()
model.add(LSTM(100, input_shape=(num_inputs, 1)))
model.add(Dense(1))
model.compile(loss='mse', optimizer='rmsprop', metrics=['mae'])

early_stopping = EarlyStopping(monitor='val_loss', mode='min', patience=3)

In [ ]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), 
          batch_size=1, epochs=100, callbacks=[early_stopping])

In [ ]:
model.save('./models/ripple_model.h5')

### Comparing Generated Predictions with Prices in Testing Set

In [ ]:
pred = model.predict(X_test)

In [ ]:
pred.shape

In [ ]:
results = scaler.inverse_transform(pred)

In [ ]:
num_samples = results.shape[0]
test_data_price = data.iloc[-num_samples:]['Price']

In [ ]:
test_data_price_pred = pd.DataFrame({'Date': test_data_price.index, 
                                     'Price': test_data_price.values, 
                                     'Prediction': results[:, 0]})

In [ ]:
test_data_price_pred

In [ ]:
plt.plot(test_data_price_pred['Date'], test_data_price_pred['Price'], color='green')
plt.plot(test_data_price_pred['Date'], test_data_price_pred['Prediction'], color='orange')
plt.legend()
plt.title('Predicted vs. Actual Prices')
plt.xlabel('Date')
plt.ylabel('Price')
fig = plt.gcf()
fig.set_size_inches(15, 8)